/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 20px;
  margin: 0;
}

article {

}

h1 {
  font-size: 50px;
}

h2 {

}

img {
    max-width: 100%;
}

main {

}

section {

}

figure {
    margin: 0;
}

figcaption {
  font-size: .8em;
}

@media screen and (min-width:471px) {
  body {
    font-size: 35px;
    margin: 20px;
  }
  h1 {
    font-size: 43px;
  }
  figure {
    margin: 5px;
  }
}

@media screen and (min-width:626px) {
  body {
    font-size: 50px;
    background-color: blueviolet;
    margin: 25px;
  }
  section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  img {
    
  }
  figure {
    max-width: 33%;
  }
}